body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    height: 30px;
}

.btn-schweppes {
    background-color: black;
    color: #f9ae00;
}

.btn-schweppes:hover {
    background-color: #fff;
    color: #f9ae00;
}

.logo-img {
    max-width: 100%;
    height: auto;
}

/* Responsive Design Tweaks */
@media (max-width: 768px) {
    body {
        background-position: center top;
    }

    .btn-custom {
        font-size: 1rem;
        padding: 8px 20px;
    }

    .logo-img {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .btn-custom {
        font-size: 0.9rem;
        padding: 6px 15px;
    }

    .logo-img {
        width: 120px;
    }

    .line {
        height: 20px;
    }
}
