body {
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .line {
     width: 100%;
     height: auto;
     margin-bottom: 30px !important;
        margin-top: 30px !important;
 }

.btn-schweppes {
    background-color: black;
    color: #f9ae00;
    transition: all 0.3s ease;
}

.btn-schweppes:hover {
    background-color: #fff;
    color: #f9ae00;
}

.btn-coke {
    background-color: black;
    color: white;
    transition: all 0.3s ease;
    font-size: 23px !important;
    font-weight: bolder;
    padding: 10px 30px;
    height: 60px;
}

.btn-coke:hover {
    background-color: #fff;
    color: black;
}
.logo-img {
    max-width: 100%;
    height: auto;
}

/* Responsive Design Tweaks */
@media (max-width: 768px) {
    body {
        background-position: center top;
    }

    .btn-custom {
        font-size: 1rem;
        padding: 8px 20px;
    }

    .logo-img {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .btn-custom {
        font-size: 0.9rem;
        padding: 6px 15px;
    }

    .logo-img {
        width: 120px;
    }

    .line {
        height: 20px;
    }
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
}

.lanyard-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

.lanyard-circle img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

.lanyard-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.coke {
    background-color: white;
}

.fanta {
    background-color: #fc4d0e;
}

.sprite {
    background-color: #0bad22;
}

.schweppes {
    background-color: #fdbe00;
}

.lanyard-link {
    text-decoration: none;
}

.btn-coke {
    background-color: #000000;
    color: #ffffff;
    transition: all 0.3s ease;
}

.btn-coke:hover {
    background-color: #fff;
    color: #000;
}

.btn-sprite {
    background-color: black;
    color: #ffffff;
    transition: all 0.3s ease;
}

.btn-sprite:hover {
    background-color: #fff;
    color: #0bad22;
}

.btn-fanta {
    background-color: blue;
    color: white;
    transition: all 0.3s ease;
}

.btn-fanta:hover {
    background-color: #fff;
    color: #fc4d0e;
}

.btn-schweppes {
    background-color: black;
    color: #f9ae00;
    transition: all 0.3s ease;
}

.btn-schweppes:hover {
    background-color: #fff;
    color: #f9ae00;
}


/* Responsive Design Tweaks */
@media (max-width: 768px) {
    body {
        background-position: center top;
    }

    .line {
        height: 20px;
    }

    body {
        height: 94vh !important;
    }
}

@media (max-width: 480px) {
   
    body {
        height: 94vh !important;
    }
}

@media (max-width: 350px) {
    
    body {
        height: 90vh !important;
    }
}